@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Aplicando a fonte com alta prioridade no corpo e no contêiner principal */
body, #root {
    font-family:'Orbitron',sans-serif !important;
}

::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-track{background:#1a1a1a}
::-webkit-scrollbar-thumb{background:#dc2626;border-radius:4px}
::-webkit-scrollbar-thumb:hover{background:#ef4444}
@keyframes slideDown{from{transform:translateY(-100%);opacity:0}to{transform:translateY(0);opacity:1}}
.toast-enter{animation:slideDown 0.5s ease-out forwards}
.blur-sm{filter:blur(2px)}
